<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjts.broadband.job.dao.OrdersMapper">
    <resultMap id="BaseResultMap" type="com.zjts.broadband.job.model.Orders">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="customer_id" property="customerId" jdbcType="INTEGER"/>
        <result column="order_number" property="orderNumber" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="INTEGER"/>
        <result column="expiry_time" property="expiryTime" jdbcType="INTEGER"/>
        <result column="money" property="money" jdbcType="INTEGER"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="install_date" property="installDate" jdbcType="INTEGER"/>
        <result column="install_address" property="installAddress" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, customer_id, order_number, create_time, expiry_time, money, remarks, type, install_date, 
    install_address
  </sql>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from orders
        where id = #{id,jdbcType=INTEGER}
    </select>


    <select id="selectByProductId" resultType="com.zjts.broadband.job.model.Orders_Expenses"
            parameterType="java.lang.Integer">
        SELECT e.type as expensestype ,e.name  as expensesname   FROM
        order_postage_setmeal_setmeal_equipment_gift r
        LEFT JOIN `orders` o   ON o.id=r.order_id
        LEFT JOIN  expenses e  ON e.id=r.expenses_id
        WHERE o.customer_id=#{id}
  </select>

    <select id="selectOrderAll" parameterType="com.zjts.broadband.job.model.Orders" resultType="java.util.Map">
        SELECT o.order_number ,o.create_time,o.expiry_time,o.money,r.discount ,o.type
        FROM `orders` o
        LEFT JOIN order_postage_setmeal_setmeal_equipment_gift r  ON o.id=r.order_id
        LEFT JOIN  expenses e  ON e.id=r.expenses_id
        WHERE o.customer_id=#{customerId} AND  e.type=#{expensestype}
    </select>

    <insert id="insertOrder" parameterType="com.zjts.broadband.job.model.Orders_Expenses">
        INSERT INTO 1.order_postage_setmeal_setmeal_equipment_gift
	    (orders_id,expenses_id,gift_id,equipment_id,product_id,discount)
	    VALUES( 'id', 'expensesid', 'giftid', 'equipmentid', 'productid', 'discount');
    </insert>
</mapper>